<a href="https://colab.research.google.com/github/diikshasharmaa/diksha/blob/main/stockprediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import os
from google.colab import drive
import numpy as np
import pandas as pd

drive.mount('/content/gdrive')

for dirname, _, filenames in os.walk('/Amazon.csv/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
for dirname, _, filenames in os.walk('/Apple.csv/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
for dirname, _, filenames in os.walk('/Google.csv/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
for dirname, _, filenames in os.walk('/Microsoft.csv/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
for dirname, _, filenames in os.walk('/Netflix.csv/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [ ]:
from matplotlib import pyplot as plt
import seaborn as sns

In [ ]:
import os
from google.colab import drive
import numpy as np
import pandas as pd

# Mount Google Drive
drive.mount('/content/gdrive')

# Assuming your CSV files are in 'My Drive' within Google Drive
# Update the path below if they're in a different folder
file_path = '/content/gdrive/MyDrive/'  # Corrected path to the directory - Removed extra space

# List files in the directory to verify file names and locations
print(os.listdir(file_path))

# Read the CSV files, ensuring case-sensitivity and path accuracy
df1 = pd.read_csv(file_path + "Amazon.csv")  # Make sure file name matches exactly
df2 = pd.read_csv(file_path + "Apple.csv")
df3 = pd.read_csv(file_path + "Google.csv")
df4 = pd.read_csv(file_path + "Microsoft.csv")
df5 = pd.read_csv(file_path + "Netflix.csv")

In [ ]:
df2_n=pd.read_csv("Google.csv")
df4_n=pd.read_csv("Netflix.csv")
df_date=pd.read_csv("Apple.csv")

In [ ]:
df_date[df_date.columns[:-1]]=0

In [ ]:
df_date['Date'][0]

In [ ]:
np.where(df_date["Date"]=="2004-08-18")

In [ ]:
def add_empty_rows(df,end):

    for i in range(end,-1,-1):
        df=pd.concat([pd.DataFrame([[0,0,0,0,0,0,df_date['Date'][i]]], columns=df.columns), df], ignore_index=True)
    return df

In [ ]:
df2_n=add_empty_rows(df2_n,1161)

In [ ]:
np.where(df_date["Date"]=="2002-05-22")

In [ ]:
df4_n=add_empty_rows(df4_n,597)

In [ ]:
#Setting Date as Index and also changing its Datatype

In [ ]:
def set_ind(df,cmp_name):
    df['Date'] = df['Date'].apply(pd.to_datetime)
    df['Company']=cmp_name
    df.set_index('Company',inplace=True)

In [ ]:

import os
from google.colab import drive
import numpy as np
import pandas as pd

# Mount Google Drive
drive.mount('/content/gdrive')

# Assuming your CSV files are in

In [ ]:
# Let's have a look at the datasets now.
import os
from google.colab import drive
import numpy as np
import pandas as pd

# Mount Google Drive
drive.mount('/content/gdrive')

# Assuming your CSV files are in 'My Drive' within Google Drive
# Update the path below if they're in a different folder
file_path = '/content/gdrive/MyDrive/'  # Corrected path to the directory - Removed extra space

# List files in the directory to verify file names and locations
print(os.listdir(file_path))

# Read the CSV files, ensuring case-sensitivity and path accuracy
df1 = pd.read_csv('/content/Amazon.csv')  # Make sure file name matches exactly
df2 = pd.read_csv('/content/Apple.csv')
df3 = pd.read_csv('/content/Google.csv')
df4 = pd.read_csv('/content/Microsoft.csv')
df5 = pd.read_csv('/content/Netflix.csv')

# Now you can use df1, df2, etc.
df1.head()

In [ ]:
df1.head()

In [ ]:
df2.head()

In [ ]:
df3.head()

In [ ]:
df4.head()

In [ ]:
df5.head()

In [ ]:
#Exploratory Data Analysis

#Analysing Volume of Stock Traded

In [ ]:
def volume_analysis(df,cmp_name):
    df['Volume'].plot(figsize=(10,7),title='Volume Of '+cmp_name+' Stock Prices',c='orange')
    plt.ylabel('Volume')
    plt.show()

In [ ]:
volume_analysis(df1,'Apple')
volume_analysis(df2,'Google')
volume_analysis(df3,'Microsoft')
volume_analysis(df4,'Netflix')
volume_analysis(df5,'Amazon')

In [ ]:
def price(df,cmp_name,price_type):
    plt.figure(figsize=(16,8))
    if(price_type=='Open'):
        clr='black'
    elif(price_type=='Close'):
        clr='green'
    elif(price_type=='High'):
        clr='blue'
    else:
        clr='purple'
    df[price_type].plot(c=clr)
    plt.ylabel(price_type)
    plt.xlabel('Year')
    plt.title(price_type+" Price of "+cmp_name)
    plt.show()

In [ ]:
#Opening price

In [ ]:
price(df1,"Apple","Open")
price(df2,"Google","Open")
price(df3,"Microsoft","Open")
price(df4,"Netflix","Open")
price(df5,"Amazon","Open")

In [ ]:
price(df1,"Apple","High")
price(df2,"Google","High")
price(df3,"Microsoft","High")
price(df4,"Netflix","High")
price(df5,"Amazon","High")

In [ ]:
price(df1,"Apple","Low")
price(df2,"Google","Low")
price(df3,"Microsoft","Low")
price(df4,"Netflix","Low")
price(df5,"Amazon","Low")

In [ ]:
df1.info()

In [ ]:
def high_low(df,cmp_name):
    plt.figure(figsize=(20,8))
    df['Daily Range']= df['High']-df['Low']
    plt.plot(df['Date'],df['Daily Range'],c='blue')
    plt.xlabel("Years")
    plt.ylabel("Stock Price Trading Range")
    plt.title("Daily Stock Price Range for "+cmp_name)
    plt.show()

In [ ]:
high_low(df1,'Apple')
high_low(df2,'Google')
high_low(df3,'Microsoft')
high_low(df4,'Netflix')
high_low(df5,'Amazon')

In [ ]:
#Analysing the Daily Returns on Stock

In [ ]:
def daily_returns(df,cmp_name):
    df['Daily Return'] = df['Adj Close'].pct_change()
    #We choose Adj Close here because it is inidicated as the fair price of the stock on that day. However you may also take CLose price for the analysis.
    plt.figure(figsize=(20, 10))
    df['Daily Return'].hist(bins=40)
    plt.xlabel('Daily Return')
    plt.title('Dialy Returns On '+cmp_name)
    plt.show()

In [ ]:
daily_returns(df1,'Apple')
daily_returns(df2,'Google')
daily_returns(df3,'Microsoft')
daily_returns(df4,'Netflix')
daily_returns(df5,'Amazon')

In [ ]:
def compare(price_type):
    plt.figure(figsize=(20,15))
    plt.plot(df1['Date'],df1[price_type], label = "Apple")
    plt.plot(df2_n['Date'], df2_n[price_type], label = "Google")
    plt.plot(df3['Date'],df3[price_type], label = "Microsoft")
    plt.plot(df4_n['Date'], df4_n[price_type], label = "Netflix")
    plt.plot(df5['Date'],df5[price_type], label = "Amazon")
    plt.legend()
    plt.xlabel("Years")
    plt.ylabel(price_type+" Price")
    plt.title(price_type +" Price Comparison of MAANG")
    plt.show()

In [ ]:
price=['Open','High','Low','Close','Adj Close']
for p in price:
    compare(p)